.app {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 960px;
    height: auto;
    background: #F3F7FA;
}

.app-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}